<!doctype html> 
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include includes/snippets/meta_tags%>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/responsiveness.css">
    <link rel="stylesheet" href="/css/animation.css">

    <% include includes/snippets/gtag %> 
    
    <title>Take Assessment - GetaJobGH</title>

  </head>
  <body>

    <nav>

        <div class="test_site_header">
            <div class="site_container">

                <div class="row d-flex flex-row align-items-center justify-content-center py-5">
                    <div class="center_text pt-5 header_with_just_text">
                        <div class="site_row center_text">
                            <h2>
                                <%=assessmentData.assessment_name%>
                            </h2>
                        </div>
                        <div class="site_row center_text">
                            <p class="job_desc_para">
                                <b>Job Role: </b><%=assessmentData.job_name%>
                            </p> 
                        </div>
                        <div class="site_row center_text">
                            <p class="job_desc_para">
                                <b>Assessment Type: </b><%=assessmentData.assessment_type_name%>
                            </p> 
                        </div>
                        <div class="site_row center_text">
                            <p class="job_desc_para">
                                <b>Time for Test: </b><%=assessmentData.time%> Minutes
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>


    <section class="assessment_description_section">
        <div class="site_row">
            <div class="site_container">
                <div class="assessment_description">
                    <p id="assessment_description"></p>
                </div>
                <div class="take_test_btn center_text">
                    <a href="/assessments/start-test/<%=assessmentData.assessment_token%>">
                        <button>
                            Start Test
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
 

    <% include includes/landing_page/footer %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/jQuery.min.js"></script>    
    <script src="/js/main.js"></script> 

    <script>
        function unescapeHTML(escapedHTML) {
            return escapedHTML.replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,"&").replace(/&amp;/g,'&').replace(/&#39;/g, "'").replace(/&rsquo;/g, "'").replace(/(?:\r\n|\r|\n)/g, '<br>');
        }
    
        $(document).ready(function(){
            var assessment_description = "<%=assessmentData.assessment_description%>";
    
            var assessment_description_after_edit = unescapeHTML(assessment_description);
            
            $("#assessment_description").html(assessment_description_after_edit);
        });
    </script>
</body>
</html>